<div class="col-3 border rounded m-1 bg-light-subtle">
    <h4 class="h4 my-2">@Title</h4>
    <ItemForm ItemType="@ItemType" OnAddItem="AddItem" />
    <ItemList Items="Items.Where(i => i.Type == ItemType).OrderByDescending(i => i.CreatedAt)" />
</div>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public ItemType ItemType { get; set; }

    [Parameter]
    public List<RetrospectiveItem> Items { get; set; } = new();

    [Parameter]
    public EventCallback<RetrospectiveItem> OnAddItem { get; set; }

    private void AddItem(RetrospectiveItem retrospectiveItem)
    {
        OnAddItem.InvokeAsync(retrospectiveItem);
    }
}
